**/node_modules/
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/plugins/db-cache-reloded/
wp-content/plugins/db-cache-reloded-fix/
wp-content/plugins/wp-super-cache/
**/wp-content/plugins/wp-super-cache/
/LAA0449111-u2bq5l.sql.zip
/LAA0449111-u2bq5l.sql
wp-admin/
wp-includes/
bukostu/
wp-content/plugins/
wp-content/languages/
wp-content/wptouch-data/
./wp-content/wptouch-data/

/.ftpaccess
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
