/*
Theme Name:fourteenchild
Author:moritakenji
Template:twentyfourteen
*/
@import url('../twentyfourteen/style.css');


/*共通*/
h1.site-title{
font-family: "ヒラギノ明朝 W6 JIS2004";
}
.entry-meta .tag-links a{
	background:#BBBBBB;
}
.entry-meta .tag-links a:before{
	border-right: 8px solid #BBBBBB;
}
.site-content footer.entry-meta{
	padding-left:0;
	padding-bottom:2%;
	display:none;

 }
 /*アイキャッチの非表示*/

/*PC*/
@media screen and (min-width: 673px){
	.post-thumbnail{
		display:none;
	}
	.site:before{
	z-index: 0;
	}
}
/*タブレット*/
@media screen and (min-width: 401px) {
	.site{
		margin:0 auto;
	}
	.nav-menu{
		font-size:13px;
	}
	.entry-meta .tag-links a{
		background:#BBBBBB;
	}
	.entry-meta .tag-links a:before{
		border-right: 8px solid #BBBBBB;
	}
	.post-thumbnail{
	display:none;
}
}


/*スマホ*/
@media screen and (max-width: 400px){
	#categories-2 li {
	padding: 5% 0px;
	}
	#content .entry-meta{
		display:block;
	}
	.content-sidebar{
		padding:0;
	}
	.primary-sidebar{
		padding-top: 5px;
	}
	.paging-navigation{
		margin: 20px 0;
	}
	/*アイキャッチ*/
	 .site-content footer.entry-meta{
		padding-left:0;
		padding-bottom:2%;
		display:none;
	 }
	 .list-view .site-content .post-thumbnail img{
	 	margin:0px 10px 3px 0;
		width: 80px;
	 }
	 .single .post-thumbnail{
		display:none;
	}
}



/* ボタンデザイン */

a.wbp-small {
  display: block;
  float: left;
  width: 92px;
  height: 35px;
  color: #feffff;
  text-decoration: none;
  font: bold 13px/35px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-shadow: #919191 0 1px 0;
  text-align: center;
  background: url(../twentyfourteen/images/wbp-slice.png) no-repeat -495px -220px;
}
a.wbp-small:hover, a.wbp-small.hover {background-position: -495px -256px;}
a.wbp-small.blue {background-position: -495px -220px;}
a.wbp-small.blue:hover, a.wbp-small.blue.hover {background-position: -495px -256px;}
a.wbp-small.green {background-position: -590px -220px;}
a.wbp-small.green:hover, a.wbp-small.green.hover {background-position: -590px -256px;}
a.wbp-small.red {background-position: -685px -220px;}
a.wbp-small.red:hover, a.wbp-small.red.hover {background-position: -685px -256px;}
a.wbp-small.yellow {background-position: -780px -220px;}
a.wbp-small.yellow:hover, a.wbp-small.yellow.hover {background-position: -780px -256px;}
a.wbp-small.grey {background-position: -875px -220px;}
a.wbp-small.grey:hover, a.wbp-small.grey.hover {background-position: -875px -256px;}
a.wbp-small.brown {background-position: -970px -220px;}
a.wbp-small.brown:hover, a.wbp-small.brown.hover {background-position: -970px -256px;}


#opensociales{
/*font-family:'fontello';
content:'p';
color:#fff;
margin:0 4px;
font-size:50px;*/
position: fixed;
z-index:100;
width: 39px;
height: 39px;
right:8px;
background:#41a62a;
border-radius: 28px;
-webkit-border-radius: 28px;
border: 3px solid #fff;
background: url(nav2.png) 50% 50%;
background-size: 90%;
}

.smedia {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: top 0.35s cubic-bezier(0.1,0.8,0.9,1), left 0.35s cubic-bezier(0.1,0.8,0.9,1), opacity 0.5s linear;
  -webkit-transition: top 0.35s cubic-bezier(0.1,0.8,0.9,1), left 0.35s cubic-bezier(0.1,0.8,0.9,1), opacity 0.5s linear;
}

/* ソ`シャルメディアボタンのラベル */
.smedia span {
  position: absolute;
  left: 0px;
  opacity: 0;
  font-size: 14px;
  line-height: 46px;
  text-decoration: none;
  color: #101010;
}
#opensociales .smedia:nth-child(1) span {
  transition: left 0.35s ease-out 0.1s, opacity 0.3s ease-in 0.1s;
  -webkit-transition: left 0.35s ease-out 0.1s, opacity 0.3s ease-in 0.1s;
}
#opensociales .smedia:nth-child(2) span {
  transition: left 0.35s ease-out 0.15s, opacity 0.3s ease-in 0.15s;
  -webkit-transition: left 0.35s ease-out 0.15s, opacity 0.3s ease-in 0.15s;
}
#opensociales .smedia:nth-child(3) span {
  transition: left 0.35s ease-out 0.2s, opacity 0.3s ease-in 0.2s;
  -webkit-transition: left 0.3s ease-out 0.2s, opacity 0.3s ease-in 0.2s;
}
#opensociales .smedia:nth-child(4) span {
  transition: left 0.35s ease-out 0.25s, opacity 0.3s ease-in 0.25s;
  -webkit-transition: left 0.35s ease-out 0.25s, opacity 0.3s ease-in 0.25s;
}
#opensociales .smedia:nth-child(5) span {
  transition: left 0.35s ease-out 0.3s, opacity 0.3s ease-in 0.3s;
  -webkit-transition: left 0.35s ease-out 0.3s, opacity 0.3s ease-in 0.3s;
}
#opensociales .smedia:nth-child(6) span {
  transition: left 0.35s ease-out 0.35s, opacity 0.3s ease-in 0.35s;
  -webkit-transition: left 0.35s ease-out 0.35s, opacity 0.3s ease-in 0.35s;
}

/* #opensociales ボタンクリックrの状B */
#opensociales.opened .smedia span {
  position: absolute;
  opacity: 1;
  left: 55px;
}
#opensociales.opened .smedia {
  opacity: 1;
}
#opensociales.opened .smedia:nth-child(1) {
  position: absolute;
  top: -78px;
  left: 0px;
  z-index:10;
}
#opensociales.opened .smedia:nth-child(2) {
  position: absolute;
  top: -64px;
  left: -35px;
  z-index:10;

}
#opensociales.opened .smedia:nth-child(3) {
  position: absolute;
  top: -32px;
  left: -64px;
  z-index:10;

}
#opensociales.opened .smedia:nth-child(4) {
  position: absolute;
  top: 8px;
  left: -76px;
  z-index:10;

}
#opensociales.opened .smedia:nth-child(5) {
  position: absolute;
  top: 235px;
  left: 0px;
  z-index:10;

}
#opensociales.opened .smedia:nth-child(6) {
  position: absolute;
  top: 4px;
  left: 100px;
  z-index:10;

}

/* ソ`シャルメディアボタンの画像 */
.smedia.facebook {
/*    background: url(../twentyfourteen/images/bubble_facebook_share_button.png);
*/}
.smedia.twitter {
/*    background: url(../twentyfourteen/images/bubble_twitter_share_button.png);
*/}
.smedia.email {
/*    background: url(../twentyfourteen/images/bubble_email_share_button.png);
*/}
.smedia.instagram {
/*    background: url(../twentyfourteen/images/bubble_instagram_share_button.png);
*/}
.smedia.youtube {
/*    background: url(../twentyfourteen/images/bubble_youtube_share_button.png);
*/}
.smedia.vimeo {
/*    background: url(../twentyfourteen/images/bubble_vimeo_share_button.png);
*/}
.smedia:hover {
    background-position: 0 -46px;
}
#contentwarap #site-header{
	z-index:0;
}
/*webfont*/
@font-face{
	font-family:'fontello';
	src :url("font/fontello.eot");
	src: url("font/fontello.eot");
	src: url("font/fontello.eot?57098116#iefix") format('embedded-opentype'),
   		 url("font/fontello.woff") format('woff'),
    	 url("font/fontello.ttf") format('truetype'),
     	 url("font/fontello.svg#fontello") format('svg')
}
a[href^="https://www.facebook.com/kennji.morita"]:before{
	font-family:'fontello';
	content:'f';
	color:#41a62a;
	margin:0 10px;
	font-size:28px;
}
a[href^="https://twitter.com/moritakennji"]:before{
	font-family:'fontello';
	content:'t';
	color:#41a62a;
	margin:0 10px;
	font-size:28px;
}
a.instagram:before{
	font-family:'fontello';
	content:'s';/*スライド*/
	color:#41a62a;
	margin:0 10px;
	font-size:28px;
}
a.email:before{
	font-family:'fontello';
	content:'a';/*TOP*/
	color:#41a62a;
	margin:0 10px;
	font-size:28px;
}